<?xml version="1.0" encoding="UTF-8"?>
<launch>
	
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find myrobot_description)/urdf/myrobot.xacro" />
  <!-- start robot state publisher -->
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
</launch>
